<div class="container wrapper">
    <form name="form" ng-submit="apply()" role="form">
        <div class="row table_margin">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h3 class="form-group col-lg-12">Add Product Quantity Restriction</h3><br/>
            <div class="form-group col-lg-12" ng-hide="isClient">
                <label class="input2">Client</label><br />
                <select ng-model="machine_client" ng-options="client.clientname for client in clients"
                    style="min-width: 200px;" class="form-control" id="input3"
                    ng-change="selectedItemChanged()"></select>
            </div>
            <div class="form-group col-lg-12" style="margin-top: 20px;">
                <label class="file required control-label machine-label">Employee Name</label>
                <select  ng-model="employee" ng-options="employee.fullname for employee in employees"
                style="min-width: 200px;margin-top: 10px;" class="form-control"></select>
            </div>
            <div class="form-group col-lg-12">
                <label class="file required control-label machine-label">Product</label>
                <select ng-model="product" ng-options="product.product_name for product in products"
                style="min-width: 200px;margin-top: 10px;" class="form-control"></select>
            </div>

            <div class="form-group col-lg-12">
                <label for="input1">Quantity</label>
                <input type="text" ng-model="quantity" name="quantity" class="form-control" id="input1">
            </div>

            <div class="form-group col-lg-12" style="margin-top: 20px;">
                <input type="hidden" name="save">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <br/>
            <div class="alert alert-danger fade in col-lg-12" id="buttonAlertNegative" style="display: none;">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> A <a href="#" class="alert-link">problem</a> has occurred while submitting your data.
                </div>
                <div class="alert alert-success fade in col-lg-12" id="buttonAlertPositive" style="display: none;">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Success!</strong> Your <a href="#" class="alert-link">Product Quantity Restriction</a> updated.
            </div>
        </div>
       
        </div>
         
    </form>
</div>

