<div class="container">
    <div class="row">
        <br /><br />
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2"
            style="text-align: center;">
            <br /><br /><br />
            <div class="row">
                <h3 class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 text-left">Image
                    Advertisement</h3>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-right">
                    <button class="btn btn-primary" ng-click="switchUploadImageAdvertisement()">Upload Image
                        Advertisement</button>
                </div>
            </div>
            <br /><br />
            <p><strong style="color: black;font-size:16px;">Search</strong><input type="text"
                    class="inputSearch form-control" ng-model="searchName" placeholder="Search" /></p>
        </div>
        <br /><br /><br />


        <div class="col-lg-2 col-md-3 col-sm-5 col-xs-5 img-thumbnail"
            style="margin: 10px;text-align: -webkit-center;height:425px;max-width: 200px;"
            ng-repeat="advertisement in data | filter:searchName">
            <img src={{advertisement.image_advertisement_url}} class="img-responsive"
                style="margin-bottom:5px;margin-top: 10px;height: 150px;">
            <h4 style="font-weight:bold;margin-top: 10px;height: 25px;">{{advertisement.image_advertisement_title}}</h4>
            <h5 style="font-style: italic;">{{advertisement.image_position}}</h5>
            <h6 style="margin-top: 15px;">Client Name</h6>
            <h5 style="font-weight:bold;height: 25px;">{{advertisement.client_name}}</h5>
            <h6 style="margin-top: 15px;">Machine Name</h6>
            <h5 style="font-weight:bold;height: 25px;">{{advertisement.machine_name}}</h5>
            <div style="height:50px;margin-top: 15px;">
                <h6 ng-hide="advertisement.start_date === '' || advertisement.end_date !== ''">Start Date : </h6>
                <h6>{{advertisement.start_date}}</h6>
                <h6 ng-hide="advertisement.start_date === '' || advertisement.end_date === ''">to</h6>
                <h6 ng-hide="advertisement.start_date !== '' || advertisement.end_date === ''">End Date : </h6>
                <h6>{{advertisement.end_date}}</h6>
                <br />
            </div>
            <button ng-click="callRemove(advertisement)" style="color:red;">Remove</button>
        </div>
    </div>
</div>